*{
    box-sizing: border-box;
  }

h1{
    font-size: 20px;
    margin:8px;
  }

h2{
    font-size: 15px;
    margin:8px;
    color: lightgrey;
  }

.container{
    display: flex;
    width: 100%;
    max-width: 840px;
    }

.image1{
    width: 125px;
    height: 125px;
    }

.column1{
    display: flex;
    flex-direction:column;
    width: 60%;
    flex-grow: 1;
    }

.buttons{
    align-items: flex-end;
    display: flex;
    }

.button1{
    margin:10px;
    background-color: lightgrey;
    border: none;
    color: white;
    padding: 10px 32px;
    font-weight: bold;
    border-radius: 5px;
    }

.button2{
    margin:10px;
    background-color: white;
    border: 2px solid lightgrey;
    color: lightgrey;
    padding: 8px 24px;
    font-weight: bold;
    border-radius: 5px;
    }

.column2{
    display:flex;
    flex-direction: column;
    width: 20%;
    }

.up{
    display: flex;
    }

.comment{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 75%;
    padding: 5px;
    }

.p1{
    font-weight: bold;
    font-size: 14px;
    margin: 5px;
    }

.p2{
    color: grey;
    font-size: 12px;
    margin: 5px;
    }

.number{
    display: flex;
    width: 25%;
    }

.numberdiv{
    background-color: lightgrey;
    font-size: 14px;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
    }

.image2{
    width: 40px;
    height: 40px;
    align-self: flex-end;
    }
