@charset "UTF-8";
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #2e7059; }

h2 {
  color: white;
  font-size: 40px;
  text-align: center;
  margin-top: 0;
  padding-top: 100px; }

.title {
  height: 300px;
  width: 70%;
  background-color: #104544;
  margin: 0 auto; }

.content {
  height: 1200px;
  width: 70%;
  background-color: #8a3574;
  margin: 0 auto; }

/*BARRA DE NAVEGACIÓN VERSIÓN MÓVIL*/
.header-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  position: relative; }

.btn-container {
  width: 100%;
  text-align: right; }

.btn-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0.75rem;
  right: 0.75rem;
  border: none;
  background-color: rgba(255, 255, 255, 0.875);
  -webkit-box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
          box-shadow: 0 0.125rem 0.75rem 0 rgba(30, 37, 45, 0.25);
  color: #212931;
  width: 50px; }

.btn-menu-img {
  width: 100%; }

.nav {
  display: none; }

.menu-small-content {
  width: 0;
  height: 100vh;
  position: fixed;
  z-index: 1;
  -webkit-transition: 0.9s;
  transition: 0.9s;
  background-color: white;
  top: 0px;
  right: 0px; }

.btn-menu-close {
  border: none;
  background: none;
  width: 40px;
  padding-top: 20px; }

.btn-menu-close-img {
  width: 100%; }

.nav-small {
  list-style: none;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  padding-left: 30px;
  padding-right: 30px; }

.nav-small-item {
  border-bottom: 2px solid grey; }

.nav-small-item:last-child {
  border-bottom: none; }

.nav-small-link {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
  display: block;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }

/*Submenú de datos*/
.subnav-a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.subnav-a-img {
  width: 20px; }

.sub-nav {
  list-style: none;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: max-height 0.5s ease-out;
  transition: max-height 0.5s ease-out; }

.sub-nav-show {
  max-height: 500px;
  -webkit-transition: max-height 0.50s ease-in;
  transition: max-height 0.50s ease-in; }

.subnav-items:last-child {
  padding-bottom: 14px; }

.subnav-links {
  text-transform: uppercase;
  text-decoration: none;
  font-size: 1em;
  color: black;
  display: block;
  padding-top: 10px;
  padding-bottom: 10px; }

.subnav-links:active {
  color: #18bfef; }

/*BARRA DE NAVEGACIÓN VERSIÓN ESCRITORIO*/
@media (min-width: 780px) {
  .btn-menu {
    display: none; }

  .menu {
    width: 100%; }

  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 90%;
    max-width: 900px;
    height: 4rem;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
    background: rgba(255, 255, 255, 0.175); }

  .nav-link {
    color: #ffffff;
    font-size: 1.2em;
    text-transform: uppercase;
    text-decoration: none;
    padding-left: 32px;
    padding-right: 32px;
    line-height: 4rem;
    display: block; }

  .nav-item:hover {
    background: rgba(255, 255, 255, 0.175); }

  .nav-item-active {
    background: #ffffff; }

  .nav-link-active {
    color: #212931; }

  .nav-link-active:hover {
    color: #18bfef;
    background: #ffffff; }

  .menu-small-content {
    display: none; }

  .fixed {
    position: fixed;
    top: 0;
    background-color: rgba(54, 54, 54, 0.9);
    -webkit-transition: 1.2s;
    transition: 1.2s; } }

/*# sourceMappingURL=style.css.map */